html {
	font-size: 16px;
}

body {
	background: url("images/stripes.png"), url("images/background.jpg");
	background-size: auto, cover;
	background-repeat: repeat-x, no-repeat;
	/*color: #52596b;*/
	margin-left: 100px;
	color: #FFFFF;
	font-size: 1em; /*declare font size in relative unit like px here next time*/
}

hr {
	width: 5%;
	/*color: #BF1534;*/
	/*background: #BF1534; try out borders and their properties*/
	margin-left: 100px;
}

a {
	font-size: 2em;
	font-family: sans-serif;
	/*color: white;*/
}
