head{

}

body{
	background-color:#000;
	background: url(images/background.png);
	background-size: cover;
	text-align: left;
	margin-left: 5em;
	color: white;
}

hr{
	width: 5%;
	color: #BF1534;
	background: #BF1534;
	margin-left: 2em;
}

a{
	font-size: 2em;
	font-family: sans-serif;
	color: white;
