
head{

}

#striped{
		width: 100%;
		background: url("images/stripes.png") repeat;
}
body{
	text-align: left;
	background: url("images/background.jpg");
	background-size: cover;
	color:#52596b;
	margin-left: 100px;
	color: white;
	font-size: 1em;
}

hr{
	width: 5%;
	color: #BF1534;
	background: #BF1534;
	margin-left: 100px;
}

a{
	font-size: 2em;
	font-family: sans-serif;
	color: white;
}
